{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Banner</title>
  <link rel="stylesheet" href="{% static 'src/css/inicio/banner.css' %}" />
</head>
<body>
  <div class="banner-images">
    <img src="{% static 'img/Banner/banner1.webp' %}" alt="Foto 1" class="active" />
    <img src="{% static 'img/Banner/banner2.webp' %}" alt="Foto 2" />
    <img src="{% static 'img/Banner/banner3.webp' %}" alt="Foto 3" />
    <div class="texto-sobrepuesto-pequeño font-Lexend-Deca uppercase">¡Visita nuestro sistema completo!</div>
    <div class="texto-sobrepuesto uppercase">Icasoft IA</div>
    <div class="btn-container-banner">
      <a href="https://icasofti21.blogspot.com/2025/05/lanzamiento-oficial-de-icasoft-ai.html"
        class="btn-ir-ia font-Lexend-Deca" target="_blank">Ir a la IA</a>
    </div>
  </div>
  <script src="{% static 'src/js/inicio/banner.js' %}"></script>
</body>
</html>