{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Productos Top</title>
  <link rel="stylesheet" href="{% static 'src/css/inicio/productos-top.css' %}" />
  <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png" sizes="32x32" />
</head>

<body class="text-[0.9375rem] font-Lexen-Deca productos-top-flex justify-center text-transparent-white">
  <div>
    <section class="w-full mt-0 overflow-hidden relative">
      <div class="bg-sky-300 p-[10px] w-full">
        <h2 class="titulo-principal-cursos fondo-animated-text uppercase">Productos top</h2>
      </div>

      <div class="productos-top-flex productos-top-flex-col lg:productos-top-flex-row w-full mt-3 mb-6 justify-center gap-6">
        <div class="productos-top-flex justify-between items-center w-full">
          <div class="arrow-left cursor-pointer text-2xl bg-icasoftBlue text-white p-5 rounded-full w-[50px] h-[50px] productos-top-flex items-center justify-center ml-[20px]">
            &#10094;
          </div>
          <div class="slider-viewport overflow-hidden mx-auto">
            <div id="productos-top-slider" class="slider-container productos-top-flex transition-transform duration-300">
              {% for producto in productos %}
             <div class="producto-card bg-sky-100 p-6 lg:p-[48px] bg-opacity-90 mb-6 lg:mb-0" style="height: 520px;">
                <picture>
                  <img src="{{ producto.img }}" alt="{{ producto.name }}"
                    class="mb-[25px] rounded-lg mx-auto block transition-transform duration-300 transform hover:scale-105 object-cover max-w-full" />
                </picture>
                <div class="text-content w-full mb-4 space-y-2">
                  <div class="producto-marca text-blue-950 font-Big-Shoulders font-bold">
                    {{producto.marca }}
                  </div>
                  <h2 class="producto-title-clamp font-Big-Shoulders uppercase text-blue-950" style="font-size: 20px;">
                    <span class="scrolling-title">{{ producto.text }}</span>
                  </h2>
                  <div class="producto-title-clamp text-blue-950 font-Big-Shoulders font-bold text-xl">
                    S/ {{ producto.precio }}
                  </div>
                </div>

                <div class="quantity-wrapper">
                  <div class="quantity-container bg-icasoftBlue items-center justify-center gap-3">
                    <div class="quantity-btn minus-btn">
                      <span class="font-bold text-xl">-</span>
                    </div>
                    <div class="quantity-display">
                      <span id="quantity-{{ forloop.counter }}" class="text-lg">0</span>
                    </div>
                    <div class="quantity-btn plus-btn">
                      <span class="font-bold text-xl">+</span>
                    </div>
                  </div>
                  <div class="cart-btn bg-icasoftBlue">
                    <span class="font-Big-Shoulders text-lg">Agregar al carrito</span>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="arrow-right cursor-pointer text-2xl bg-icasoftBlue text-white p-5 rounded-full w-[50px] h-[50px] productos-top-flex items-center justify-center mr-[20px]">
            &#10095;
          </div>
        </div>
      </div>
    </section>
  </div>

  <script src="{% static 'src/js/productosTopSlider.js' %}"></script>
</body>
</html>