{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Review</title>
  <link rel="stylesheet" href="{% static 'dist/styles.css' %}">
  <link rel="stylesheet" href="{% static 'src/review.css' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo.png' %}">
</head>

<body class="text-[0.9375rem] font-Lexen-Deca flex justify-center text-transparent-white">
  <div>
    <section class="w-full mt-0 overflow-hidden relative">
      <div class="flex flex-col lg:flex-row w-full mt-3 mb-6 justify-center gap-6">
        <div class="flex justify-center items-center w-full"> 
            <div class="review-card p-6 lg:p-[48px] justify-center custom-rounded bg-opacity-90 mb-6 lg:mb-0 flex items-center gap-6">
                <div class="arrow-left cursor-pointer text-2xl text-white p-5 rounded-full w-[50px] h-[50px] flex items-center justify-center ml-[30px]" onclick="moveReview(-1)">
                  &lt;
                </div>

                <div id="review-slider" class="flex transition-all duration-300 overflow-hidden">
                  {% for review in reviews %}
                    <div class="review-item flex items-center" style="display: none;">
                      <div class="img-container">
                        <img class="w-[120px] h-[120px] rounded-full object-cover mx-auto" src="{{ review.img }}" alt="Review Image">
                      </div>

                      <div class="info-container ml-6">
                        <h2 class="font-Big-Shoulders uppercase text-white mb-6 text-center lg:text-left" style="font-size: 20px;">{{ review.name }}</h2>
                        <p class="info-text text-white">{{ review.text }}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>

                <div class="arrow-right cursor-pointer text-2xl text-white p-5 rounded-full w-[50px] h-[50px] flex items-center justify-center mr-[20px]" onclick="moveReview(1)">
                  &#10095;
                </div>
            </div>
        </div>
      </div>
    </section>
  </div>

  <script src="{% static 'src/js/review.js' %}"></script>
</body>
</html>
