html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.titulo-container {
  background-color: var(--icasoftBlue);
  padding: 5px 10px;
}

h2.titulo-principal-servicios {
  font-family: 'Big Shoulders';
  font-size: 3.2rem; 
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  letter-spacing: 3px;
}

.contenedor-slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.visor-slider {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(2, 220px);
  justify-content: center;
  padding: 20px 0px;
  max-width: 1700px;
  background-color: #ffffff;
  border-radius: 12px;
  width: 100%;
  column-gap: 30px;
  row-gap: 30px;
}

.tarjeta-servicio {
  width: 100%;
  height: 220px;
  padding: 20px;
  margin: 0 auto;
  background-color: transparent; 
  border-radius: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; 
}

.tarjeta-servicio::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.nombre-servicio {
  font-size: 2vw !important;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  text-align: center;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.servicio-btn-container {
  text-align: center;
  z-index: 2;
}

.btn-font {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
}

.btn-ver-detalle {
  width: 140px;
  height: 44px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-ver-detalle:hover {
  background-color: #72d0ff;
}

.img-servicio {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; 
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
}

@media (max-width: 1050px) {
  h2.titulo-principal-servicios {
    font-size: 2rem; /* Título para pantallas pequeñas */
  }

  .nombre-servicio {
    font-size: 5vw;
  }

  .btn-ver-detalle {
    width: 120px;
    height: 40px;
    font-size: 0.9rem;
  }

  .visor-slider {
    grid-template-columns: repeat(3, 300px); 
  }
}


@media (max-width: 1023px) {
  h2.titulo-principal-servicios {
    font-size: 2rem; /* Título para pantallas pequeñas */
  }

  .nombre-servicio {
    font-size: 5vw;
  }

  .btn-ver-detalle {
    width: 120px;
    height: 40px;
    font-size: 0.9rem;
  }

  .visor-slider {
    grid-template-columns: repeat(3, 230px); 
  }
}

@media (max-width: 768px) {
  h2.titulo-principal-servicios {
    font-size: 2rem; /* Asegura el tamaño correcto para pantallas pequeñas */
  }

  .nombre-servicio {
    font-size: 1vw !important;
  }

  .btn-ver-detalle {
    width: 110px;
    height: 38px;
    font-size: 0.8rem;
  }

  /* 2 columnas en pantallas medianas */
  .visor-slider {
    grid-template-columns: repeat(2, 320px);
  }
}

@media (max-width: 600px) {
  h2.titulo-principal-servicios {
    font-size: 2rem; 
  }

  .nombre-servicio {
    font-size: 1vw;
  }

  .btn-ver-detalle {
    width: 100px;
    height: 36px;
    font-size: 0.8rem;
  }

  .visor-slider {
    grid-template-columns: repeat(2, 320px);
  }
}

@media (max-width: 480px) {
  h2.titulo-principal-servicios {
    font-size: 2rem; 
  }

  .nombre-servicio {
    font-size: 5vw !important;
  }

  .btn-ver-detalle {
    width: 90px;
    height: 32px;
    font-size: 0.7rem;
  }


  .visor-slider {
    grid-template-columns: 1fr; 
    padding: 20px 10px;
  }

  .tarjeta-servicio {
    width: 100%; 
    height: auto;
    min-height: 180px;
  }
}

@media (min-width: 1550px) and (max-width: 2000px) {
  .visor-slider {
    grid-template-columns: repeat(3, 480px);
  }
}