<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Inicio - IcaSoft</title>
  {% load static %}
  <!DOCTYPE html>
  <link rel="stylesheet" href="{% static 'src/styles.css' %}">
  <link rel="stylesheet" href="{% static 'src/inicio.css' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo.png' %}">

</head>

<body>
  <div>
    <header>
      {% include 'appIcasoftWeb/header/header.html' %}
    </header>
    <main class="pt-5 lg-pt">

      <div id="cursos">

      </div>
      {% include 'appIcasoftWeb/inicio/test.html' %}
      {% include 'appIcasoftWeb/inicio/productosTop.html' %}
      {% include 'appIcasoftWeb/inicio/info-cursos.html' %}
      {% include 'appIcasoftWeb/inicio/nosotros.html' %}
      {% include 'appIcasoftWeb/inicio/reviews.html' %}

      <div id="blog">
        {% include 'appIcasoftWeb/inicio/blog.html' %}
      </div>
      {% include 'appIcasoftWeb/inicio/clientes.html' %}
      {% include 'appIcasoftWeb/inicio/portafolio.html' %}
      {% include 'appIcasoftWeb/inicio/mapa.html' %}
    </main>



    <footer>
      {% include 'appIcasoftWeb/footer.html' %}
    </footer>
  </div>

</body>

</html>