{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo-Icasoft/logoNaranja.webp' %}">
    <title>Registrarse - IcaSoft</title>
    <link rel="stylesheet" href="{% static 'src/css/registrarse.css' %}" />
    <script src="{% static 'src/js/registrarse.js' %}" defer></script>
</head>

<body class="main-container">
    <div class="content-wrapper">
        <header>
            {% include 'appIcasoftWeb/header/header.html' %}
        </header>

        <main>
            <div class="dos-columnas">
                <div class="image-column">
                    <img src="{% static 'img/logo-Icasoft/logoNaranja.webp' %}" alt="IcaSoft logo">
                </div>

                <div class="form-column">
                    <div class="form-container">
                        <h1 class="form-title font-Big-Shoulders uppercase">REGISTRARSE</h1>
                        {% csrf_token %}
                        <form id="registrarseForm" autocomplete="off">
                            <div class="form-group">
                                <label for="documento" class="form-label">Número de documento (DNI)</label>
                                <div class="dni-group">
                                    {{ form.dni }}
                                    <button type="button" class="search-btn" id="buscarBtn">Buscar</button>
                                </div>
                                <div id="documento-error" class="error-message">
                                    Por favor ingrese un número de documento válido (8 dígitos)
                                </div>
                                <div class="" style="display: none;">
                                    <input type="text" name="username" id="username" class="form-input" value="usuario">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="nombre" class="form-label">Nombre</label>
                                {{ form.first_name }}
                                <div id="nombre-error" class="error-message">
                                    Por favor ingrese un nombre válido (solo letras, 2-50 caracteres)
                                </div>
                            </div>
  
                            <div class="form-group">
                                <label for="apellidos" class="form-label">Apellidos</label>

                                {{ form.last_name }}
                                <div id="apellidos-error" class="error-message">
                                    Por favor ingrese apellidos válidos (solo letras, 2-50 caracteres)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="correo" class="form-label">Correo</label>
                                {{ form.email }}
                                <div id="correo-error" class="error-message">
                                    Por favor ingrese un correo electrónico válido
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="celular" class="form-label">N° de celular</label>
                                {{ form.telefono }}
                                <div id="celular-error" class="error-message">
                                    Por favor ingrese un número de celular válido (9 dígitos)
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="contrasena" class="form-label">Contraseña</label>
                               {{ form.password }}
                                <div class="password-strength">
                                    <div class="password-strength-bar" id="password-strength-bar"></div>
                                </div>
                                <div class="password-hint">
                                    La contraseña debe tener al menos 6 caracteres, incluir mayúsculas, minúsculas,
                                    números y caracteres especiales.
                                </div>
                                <div id="contrasena-error" class="error-message">
                                    Por favor ingrese una contraseña válida
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="confirmar-contrasena" class="form-label">Confirmar Contraseña</label>
                                <input type="password" id="confirmar-contrasena" class="form-input"
                                    placeholder="Confirme su contraseña" required  autocomplete="new-password">
                                <div id="confirmar-contrasena-error" class="error-message">
                                    Las contraseñas no coinciden
                                </div>
                            </div>

                            <button type="submit" class="submit-btn">REGISTRARSE</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <footer>
        {% include 'appIcasoftWeb/footer/footer.html' %}
        {% include 'appIcasoftWeb/chatbot/chatbot.html' %}
    </footer>
</body>

</html>