{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Icasoft</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo.png' %}" />
  <link rel="stylesheet" href="{% static 'dist/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'src/header.css' %}" />
  <link rel="stylesheet" href="{% static 'src/css/menu-productos.css' %}" />
  <link rel="stylesheet" href="{% static 'src/css/mobile-menu.css' %}" />
  <link rel="stylesheet" href="{% static 'src/css/modales/login-registro.css' %}" />
  <link rel="stylesheet" href="{% static 'src/icofont/icofont.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="m-0 p-0">

  <header class="fixed top-0 left-0 w-full text-white z-10 shadow-md">
    <div class="flex items-center justify-between p-4 w-full no-wrap-container">
      <div class="flex items-center space-x-1 md:space-x-4 logo-texto-productos">
        <a href="/">
          <img src="{% static 'img/logos/LogoManzana.png' %}" alt="ICASOFT" class="logo-img" />
        </a>

        <div class="visible-container">
          <a href="/">
            <h2 class="font-Big-Shoulders text-[2rem] text-white mb-1 uppercase no-wrap-text">ICASOFT</h2>
          </a>
        </div>
      </div>

      <!-- Menú para desktop -->
      <nav class="hidden lg:flex space-x-8 items-center">
        <input type="text" placeholder="Buscar..."
          class="search-input p-2 rounded-lg border-2 border-gray-300 focus:outline-none" />
        <a href="{% url 'user_carrito' %}" class="shopping-cart-container">
          <i class="icofont-shopping-cart" style="font-size: 40px;"></i>
          <span class="cart-number">0</span> <!-- Esta clase es importante -->
        </a>
        <div id="menu-productos-text" class="text-white cursor-pointer no-wrap-text">
          ☰ PRODUCTOS
        </div>
        <a href="/#cursos">CURSOS</a>
        <a href="/#blog">BLOG</a>
        <a href="{% url 'user_contacto' %}">CONTACTAR</a>

        <!-- Ícono de usuario con menú desplegable -->
        <div class="user-menu-container relative">
          {% if user.is_authenticated %}
          <p style="cursor: pointer; font-size: larger;">¡Hola, {{ user.username }}!</p>
          <div id="user-menu">
            <a href="{% url 'user_micuenta' %}">Mi Cuenta</a>
            <a href="{% url 'user_pedido' %}">Mis Pedidos</a>
            <a href="{% url 'user_logout' %}">Cerrar Sesión</a>
          </div>
          {% else %}
          <!-- Ícono de usuario -->
          <button id="openModalBtnHeader" class="focus:outline-none" aria-label="Iniciar sesión">
            <i class="fa-solid fa-circle-user iconLogin"></i>
          </button>
          {% endif %}
        </div>
      </nav>
      <!-- Botón menú hamburguesa para móvil/tablet -->
      <div id="mobile-menu-button" class="lg:hidden text-white cursor-pointer no-wrap-text flex items-center px-4">
        ☰ MENÚ
      </div>
    </div>
  </header>

  <!-- Menú móvil completo -->
  <div id="mobile-menu" class="fixed inset-0 bg-black bg-opacity-50 z-20 hidden overflow-y-auto">
    <div class="bg-white min-h-full p-4 space-y-4">
      <button id="close-mobile-menu" class="text-xl text-right text-black">X</button>

      <input type="text" placeholder="Buscar..."
        class="search-input p-2 rounded-lg border-2 border-gray-300 focus:outline-none w-full" />
      <div class="productos-menu text-center">
        <div class="relative p-2 text-black cursor-pointer hover:bg-gray-100 rounded" id="mobile-productos-btn">
          <span>☰ PRODUCTOS</span>
          <i class="icofont-simple-down absolute right-4 top-1/2 transform -translate-y-1/2"></i>
        </div>
        <div id="mobile-productos-submenu" class="hidden">
          <a href="/laptops" class="block p-2 text-black hover:bg-gray-100 rounded">Laptops</a>
          <a href="/impresoras" class="block p-2 text-black hover:bg-gray-100 rounded">Impresoras</a>
          <a href="/accesorios" class="block p-2 text-black hover:bg-gray-100 rounded">Accesorios</a>
          <a href="/monitores" class="block p-2 text-black hover:bg-gray-100 rounded">Monitores</a>
        </div>
      </div>
      <a href="/#nosotros" class="block p-2 text-black hover:bg-gray-100 rounded text-center">NOSOTROS</a>
      <a href="/#cursos" class="block p-2 text-black hover:bg-gray-100 rounded text-center">CURSOS</a>
      <a href="/#blog" class="block p-2 text-black hover:bg-gray-100 rounded text-center">BLOG</a>
      <a href="{% url 'user_contacto' %}" class="block p-2 text-black hover:bg-gray-100 rounded text-center">CONTACTAR</a>


    </div>
  </div>

  <!-- Menú de productos para desktop -->
  <div id="menu-productos" class="fixed inset-0 z-20 hidden">
    <div class="menu-productos-background absolute inset-0 bg-black bg-opacity-50"></div>
    <div class="productos-container relative">
      <div class="productos-grid">
        {% for categoria in categorias %}
        <div class="categoria-producto">
          <h3 class="categoria-titulo">{{ categoria.nombre }}</h3>
          {% for sub in categoria.subcategorias %}
          <div class="producto-item">
            <a href="{% url 'user_producto_subcategoria' categoria.slugcat sub.slugSub %}" class="producto-link">{{ sub.nombre }}</a>
          </div>
          {% endfor %}
          <div class="producto-item">
            <a href="{% url 'user_producto_categoria' categoria.slugcat %}" class="producto-link">Ver todas</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Modal de Login -->
  <div id="login-modal" class="fixed inset-0 z-50 hidden">
    <div class="login-modal-background absolute inset-0  opacity-90"></div>
    <div class="login-container relative mx-auto my-16 max-w-md overflow-hidden"
      style="background-image: url('{% static 'img/header/login-registro/fondo-loginRegistro.webp' %}'); background-size: cover; background-position: center; border-radius: 1.5rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <div class="absolute inset-0  bg-opacity-50"></div>
      <div class="relative z-10 p-8 text-white">
        <button class="close-login-modal absolute top-4 right-4 text-2xl font-bold hover:text-gray-300">×</button>
        <div class="flex justify-center mb-4">
          <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-form">
        </div>
        <h3 class="text-2xl text-white font-Big-Shoulders mb-6 text-center white-shadow">Iniciar Sesión</h3>
        <form class="login-form" id="loginForm" method="post" action="{% url 'user_login' %}">
          {% csrf_token %}
          <div class="form-group mb-4">
            <label for="email" class="block mb-2 text-white font-medium white-shadow">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required class="w-full px-4 py-2 rounded text-black">
          </div>
          <div class="form-group mb-6">
            <label for="password" class="block mb-2 font-medium font-lex">Contraseña:</label>
            <input type="password" id="password" name="password" required class="w-full px-4 py-2 rounded text-black">
          </div>
          <button type="submit"
            class="login-btn w-full bg-blue-600 hover:bg-sky-300 text-white font-bold py-2 px-4 rounded transition duration-200">
            Ingresar
          </button>
        </form>
        <div class="login-footer mt-6 text-center">
          <p class="text-blue-300 mb-2">¿No tienes cuenta?
            <a href="{% url 'user_register' %}" class="text-white hover:underline">Registrarse</a>
          </p>
          <p>
            <a href="" class="text-white hover:underline">¿Olvidaste tu contraseña?</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'src/js/header.js' %}"></script>
  <script src="{% static 'src/js/modal-login.js' %}"></script>
  <script src="{% static 'src/js/cart.js' %}"></script>
</body>

</html>