/* Contenedor del slider */
.slider-viewport {
  width: calc(3 * 350px + 2 * 30px);
}

.slider-container {
  display: flex;
  justify-content: space-around;
  transition: transform 0.3s ease;
}

.productos-top-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productos-top-flex-col {
  flex-direction: column;
}

.productos-top-flex-row {
  flex-direction: row;
}

.productos-top-flex .slider-container {
  display: flex;
  justify-content: space-around;
}

/* Estilo para los productos */
.producto-card {
  flex: 0 0 320px !important;
  margin: 0px 20px 0px 20px;
  box-sizing: border-box;
  height: 400px;
  padding: 15px;
  background-color: #e0f2fe;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.producto-card img {
  width: 250px;
  height: 210px;
  object-fit: cover;
  margin: 0 auto 35px;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 30px;
}

.producto-title-clamp {
  font-size: clamp(12px, 1.8vw, 20px);
  line-height: 1.2;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 100%;
  transition: transform 0.3s ease-in-out, width 0.3s ease;
}

.producto-title-clamp:hover {
  animation: scrolling-text 10s linear infinite;
  text-overflow: unset;
  overflow: visible;
}

@keyframes scrolling-text {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Estilo para los botones de cantidad (en una sola fila) */
.quantity-container {
  background-color: #0a115e; /* bg-icasoftBlue (reemplaza con el color adecuado si necesario) */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Espaciado entre los botones */
  border-radius: 30px; /* Aplica el border-radius aquí */
  padding: 10px; /* Espaciado interno para que no se peguen los bordes */
}

.quantity-btn {
  width: 50px; /* Tamaño del botón */
  height: 50px; /* Tamaño del botón */
  border-radius: 50%;
  background-color: #3944b3; /* Color de fondo */
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontal y verticalmente */
  cursor: pointer;
  color: white;
  padding: 10px; /* Espaciado dentro del botón */
}

.quantity-btn span {
  font-size: 38px; /* Tamaño ajustable del texto */
  font-weight: bold;
  display: flex;
  align-items: flex-end; /* Asegura que el texto esté centrado verticalmente */
  justify-content: center; /* Asegura que el texto esté centrado horizontalmente */
}

.quantity-btn:hover {
  background-color: #6cc1f5; /* Cambio de color al pasar el ratón */
}

.quantity-display {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
}

/* Estilo para el ícono del carrito */
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #3944b3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.cart-btn:hover {
  background-color: #6cc1f5;
}

/* Estilo para las flechas de navegación */
.arrow-left,
.arrow-right {
  cursor: pointer;
  background-color: #3944b3;
  color: white;
  padding: 2rem;
  border-radius: 9999px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 2rem;
  transform: translateY(20px);
}

.arrow-left {
  margin-left: 20px;
}

.arrow-right {
  margin-right: 20px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #6cc1f5;
  border: 2px solid white;
  color: white;
}

/* Estilo para el botón de "Ver Producto" */
button.btn {
  color: white;
  padding: 7px 60px;
  border-radius: 25px;
  font-size: larger;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 2px solid transparent;
}

button.btn:hover {
  background-color: #6cc1f5;
  transform: translateY(-5px);
  border-color: #3944b3;
}

@media (max-width: 1033px) {
   .producto-card {
    flex: 0 0 240px !important;
    margin: 0px 20px 0px 20px;
    height: 400px;
    padding: 15px;
  }
}

@media (max-width: 1023px) {
   .producto-card {
    flex: 0 0 270px !important;
    margin: 0px 20px 0px 20px;
    height: 400px;
    padding: 15px;
  }
}

@media (max-width: 1000px) {
   .producto-card {
    flex: 0 0 240px !important;
    margin: 0px 30px 0px 30px !important;
    height: 400px;
    padding: 15px;
  }
}


/* Diseño para pantallas pequeñas */
@media (max-width: 768px) {
  .slider-viewport {
    width: 100%;
  }

  .producto-card {
    margin: 0px 4px 0px 0px !important;
    height: 400px !important;
    max-width: 50%;
  }

  .arrow-left,
  .arrow-right {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}

/* Diseño para pantallas más pequeñas */
@media (max-width: 480px) {
  .slider-viewport {
    width: 100%;
  }

  .producto-card {
    flex: 0 0 100% !important;
    margin: 0px 1px 0px 0px !important;
    height: 400px;
    max-width: 100%;
  }

  .producto-card img {
    width: 80%;
  }

  .arrow-left,
  .arrow-right {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    transform: translateY(0);
  }

  .arrow-left {
    left: 10px;
  }

  .arrow-right {
    right: 10px;
  }

  /* Estilo para la cantidad en pantallas pequeñas */
  .quantity-container {
    padding: 8px; /* Ajusta el padding para que no se vea demasiado grande */
    gap: 10px; /* Espaciado entre los botones */
    border-radius: 25px; /* Ajusta el border-radius */
  }

  .quantity-btn {
    width: 40px; /* Botones más pequeños */
    height: 40px; /* Botones más pequeños */
    font-size: 28px; /* Reduce el tamaño del texto */
  }

  .quantity-display {
    font-size: 1rem; /* Ajusta el tamaño del texto */
  }
}

.producto-card:last-child {
  margin-right: 0;
}

.producto-card img:hover {
  transform: scale(1.05);
}

button.btn {
  color: white;
  padding: 7px 30px;
  border-radius: 30px;
  font-size: larger;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 2px solid transparent;
}
